@font-face {
    font-family: 'Undefined Medium';
    src: url('./assets/undefined-medium.woff') format('woff');
}


:root {
    --dark-bg: #1E1E1E;
    --medium-bg: #3E3E3E;
    --light-bg: #5E5E5E;
    --text-color: white;
    --font-family: 'Undefined Medium';
}

html{
    background-color: var(--dark-bg);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

h1 {
    color: var(--text-color);
    padding: 5%;
    font-family: var(--font-family);
    font-size: 2em;
}

button {
    font-family: var(--font-family);
    font-size: 1.5em;
    background-color: var(--medium-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.HotspotSecret {
    opacity: 0;
}

button:hover {
    background-color: var(--light-bg); 
}

[popover] {
    font-family: var(--font-family);
    font-size: 1.5em;
    background-color: var(--medium-bg);
    color: var(--text-color);
    border: none;
    padding: 20px;
    z-index: 100;
}

[popover]:popover-open {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

[popover] h2 {
    grid-column: 1;
    grid-row: 1;
}

[popover] p {
    grid-column: 1 / -1;
    grid-row: 2;
}

[popover] .close {
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
}

html:has([popover]:popover-open) {
    overflow: hidden;
}

[popover]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

:not(:defined)>* {
    display: none;
}

body {
  overflow-x: hidden;
}

/* Or apply to a specific container */
.model-container {
  overflow-x: hidden;
}

model-viewer {
    transform: translateY(0%) scale(1); width: 100%; height: 100vh
}

.back {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}