@font-face {
    font-family: 'Undefined Medium';
    src: url('./assets/undefined-medium.woff') format('woff');
}


:root {
    --dark-bg: #1E1E1E;
    --medium-bg: #3E3E3E;
    --light-bg: #5E5E5E;
    --text-color: white;
    --font-family: 'Undefined Medium';
}

.balloon-letters {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--dark-bg);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.balloon-letters ul {
    list-style: none;
    z-index: 10;
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    background: var(--dark-bg);
    margin: 0;
    padding: 0;
}

.balloon-letters img {
    height: 20vh;
}

.balloon-letters li {
    height: fit-content;
    width: fit-content;
    margin-right: -80px;
}

.balloon-letters li:nth-child(1) {
    rotate:3deg;
animation: appearFromBelow 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s forwards;
    opacity: 0;

}

.balloon-letters li:nth-child(2) {
    animation: appearFromBelow 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.2s forwards;

    rotate:-4deg;
        opacity: 0;
}

.balloon-letters li:nth-child(3) {
    animation: appearFromBelow 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s forwards;
    rotate:1deg;
        opacity: 0;
}

.balloon-letters li:nth-child(4) {
    animation: appearFromBelow 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.6s forwards;
    rotate:-2deg;
    opacity: 0;
}

.balloon-letters li:nth-child(5) {
    animation: appearFromBelow 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.8s forwards;
    rotate:-5deg;
    opacity: 0;
}


@keyframes appearFromBelow {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}





.balloon-letters.loaded {
    display: none;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 18px;
    border-radius: 10px;
}

progress[value]::-moz-progress-bar {
    background-color: var(--dark-bg);
    border: none;
    border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background: var(--dark-bg);
    box-shadow: none;
    border-color: transparent;
    border-radius: 2px;
}









html{
    background-color: var(--dark-bg);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

h1 {
    color: var(--text-color);
    padding: 5%;
    font-family: var(--font-family);
    font-size: 2em;
}

button {
    font-family: var(--font-family);
    font-size: 1.5em;
    background-color: var(--medium-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.HotspotSecret {
    opacity: 0;
}

button:hover {
    background-color: var(--light-bg); 
}

[popover] {
    font-family: var(--font-family);
    font-size: 1.5em;
    background-color: var(--medium-bg);
    color: var(--text-color);
    border: none;
    padding: 20px;
    z-index: 100;
}

[popover]:popover-open {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

[popover] h2 {
    grid-column: 1;
    grid-row: 1;
}

[popover] p {
    grid-column: 1 / -1;
    grid-row: 2;
}

[popover] .close {
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
}

html:has([popover]:popover-open) {
    overflow: hidden;
}

[popover]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

:not(:defined)>* {
    display: none;
}

body {
  overflow-x: hidden;
}

/* Or apply to a specific container */
.model-container {
  overflow-x: hidden;
}

model-viewer {
    transform: translateY(0%) scale(1); width: 100%; height: 100vh
}

.back {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}