@font-face {
    font-family: 'Undefined Medium';
    src: url('./assets/undefined-medium.woff') format('woff');
}


html{
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    padding: 5%;
    font-family: 'Undefined Medium';
font-size: 2em;
}

button {
    font-family: 'Undefined Medium';
    font-size: 1.5em;
    background-color: #3E3E3E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #5E5E5E; 
}

[popover] {
    font-family: 'Undefined Medium';
    font-size: 1.5em;
    background-color: #3E3E3E;
    color: white;
    border: none;
    padding: 20px;
    z-index: 100;
}

[popover]:popover-open {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

[popover] h2 {
    grid-column: 1;
    grid-row: 1;
}

[popover] p {
    grid-column: 1 / -1;
    grid-row: 2;
}

[popover] .close {
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
}

html:has([popover]:popover-open) {
    overflow: hidden;
}

[popover]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

    /* This keeps child nodes hidden while the element loads */
    :not(:defined)>* {
        display: none;
    }